<h1>Send a Dope Message!</h1>
<% if @message.errors.any? %>
  <p>Oh snap! Something went wack. Your bad.</p>
  <ul>
    <% @message.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>
<%= form_for @message do |f| %>
  <%= f.label :to %>
  <%= f.text_field :to %>
  <%= f.label :from %>
  <%= f.text_field :from %>
  <%= f.label :media_url, '(Optional) Send a fly gif, png, or jpeg image URL' %>
  <%= f.text_field :media_url %>
  <%= f.label :body %>
  <%= f.text_field :body %>
  <%= f.submit %>
<% end %>
