<h1 class="center-align">Send a Dope 90's Message!</h1>
<% if @message.errors.any? %>
  <p>Oh snap! Something went wack. Your bad.</p>
  <ul>
    <% @message.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>
<%= form_for @message do |f| %>
  <%= f.label :to, "To:" %>
  <%= f.select :to, options_for_select([["Meaghan","5035053160"],["Stephanie", "3609034504"], ["Olivia", "8323267707"], ["Noah", "5416780529"]]), {:include_blank => 'Choose a Phone Number'}, {:class => "form-control"} %>
  <%= f.label :sender_name, "From:" %>
  <%= f.text_field :sender_name, :class => "form-control" %>
  <%= f.label :body, "Text:" %>
  <%= f.select :body, options_for_select(@phrases.map{ |phrase| [phrase.content] }), {:include_blank => 'Choose a 90s Phrase'}, {:class => "form-control"} %>
  <% @gifs.each do |gif| %>
         <%= f.label gif.id do %>
            <div class="gif-display col-sm-6">
              <%= f.radio_button :media_url, gif.image_url %> <%= image_tag gif.image_url %>
            </div>
         <% end %>
     <% end %>
  <div class="center-align">
    <%= f.submit 'Send Message', :class => "btn btn-primary btn-pad" %>
  </div>
<% end %>
